.contenedor-contacto{
    background-color: rgb(105, 6, 6);
    width: 100vw;
    height: 40vh;  
    display: flex;
    overflow: hidden;
}

.telefono{
    font-weight: 700;
    font-size: 70px;
    color: black;
    font-family: "Titillium Web", sans-serif;
    display: flex;
    position: absolute;
    top: 128%;
    left: 25%;
}

.numero-contacto{
    font-weight: 700;
    font-size: 70px;
    color: black;
    font-family: "Titillium Web", sans-serif;
    display: flex;
    position: absolute;
    top:145%;
    left: 28%;
}